<p id="notice"><%= notice %></p>

<h1><%= t '.pdf' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.last_access' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdfs.each do |pdf| %>
      <tr>
        <td><%= pdf.name %></td>
        <td><%= l pdf.last_access, format: :short %></td>
        <td><%= link_to (t '.show'), pdf %></td>
        <td><%= link_to (t '.edit'), edit_pdf_path(pdf) %></td>
        <td><%= link_to (t '.destroy'), pdf, method: :delete, data: { confirm: (t '.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t '.new'), new_pdf_path %>
