<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.name' %></strong>
  <%= @pdf.name %>
</p>

<p>
  <strong><%= t '.last_access' %></strong>
  <%= @pdf.last_access %>
</p>

<p>
  <strong><%= t '.pdf' %></strong>
  <%= link_to url_for(@pdf.pdf), url_for(@pdf.pdf) %>
</p>

<p>
  <strong><%= t '.jpegs' %></strong>
  <% @pdf.jpegs.attachments.each do |jpeg| %>
    <%= image_tag url_for(jpeg), width: 600 %>
  <% end %>
</p>

<%= link_to (t '.edit'), edit_pdf_path(@pdf) %> |
<%= link_to (t '.back'), pdfs_path %>
